import styles from './{{pascalCase name}}.module.css';

const {{pascalCase name}} = (): JSX.Element => {
  return (
    <div>
      <h1 className={styles.text}>{{pascalCase name}} Page</h1>
    </div>
  );
};

export { {{pascalCase name}} };
