.container {
  height: 390px;
  width: 600px;
  background: #ffffff;
  border: 1px solid #d1dce3;
  border-radius: 4px;
  display: flex;
}

.container .inputs {
  width: 60%;
  padding: 30px 55px;
}

.container .inputs .title {
  font-weight: bold;
  font-size: 24px;
  color: #656565;
}

.container .inputs .form {
  margin-top: 20px;
}

.container .inputs .form .field {
  margin-bottom: 20px;
}

.container .inputs .form .field label {
  font-size: 14px;
  color: #656565;
}

.container .inputs .form .field input[type='text'] {
  height: 37px;
  background: #ffffff;
  border: 1px solid #dde6e9;
  border-radius: 4px;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 3px;
}

.container .inputs .form .field small {
  font-weight: bold;
  font-size: 11px;
  color: #cecece;
}

.container .resume {
  width: 40%;
  background: rgba(209, 220, 227, 0.18);
  border-radius: 4px;
  padding: 70px 35px;
}

.container .resume .title {
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  color: #3d75bb;
  margin-bottom: 5px;
}

.container .resume hr {
  opacity: 0.3;
  border: 1px solid #5d9cec;
}

.container .resume .range ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-style: italic;
  font-size: 1rem;
  color: #5d9cec;
}

.container .resume .range ul li {
  margin-top: 30px;
  margin-bottom: 30px;
}
.container .resume .range ul li span {
  margin-left: 5px;
  font-weight: bold;
}
